td,
th {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border: solid black;
  width: 30%;
  background-color: black;
  color: white;
  font-size: 30px;
}
table {
  border: solid black;
  width: 65%;
}
img {
  width: 100%;
  height: 250px;
}
body {
  background-color: lightgreen;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shoppinglist {
  width: 300px;
}
.total {
  font-size: 25px;
}
button {
  font-size: 25px;
  margin: 10px;
  width: 250px;
}
input {
  font-size: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
}
.pay {
  display: none;
}
.mainDisplay {
  display: flex;
  justify-content: space-between;
}
.Items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
